{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{%block body %} 

<div class="container">



  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center">About Us</h1>
      <div>

          <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="/static/Web.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center"> <a href="contact">Web Development Startup </a> </h5>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://source.unsplash.com/B86rwb4VmRk/1600x1060" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center"> <a href="contact">Jharkhand Based Startup</a> </h5>
                            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/static/Team.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center"> <a href="contact">Team of Enthustic Developers</a> </h5>
            </div>
          </div>
        </div>
<br>
      </div><h1 class="display-4 text-center">Our Values</h1>
      <p class="lead">Our values are based on four pillars: ‘Commitment, Quality, Integrity and Care’. We have been working in the industry with strong commitment, which is ensuring your absolute satisfaction and meeting your ultimate goals. Our first priority is always to make our dearest clients happy with the end product as we understand how crucial your business is to you. We believe in quality and we promise you’ll be delivered the very best quality of work. Here, we always make sure that our valued clients get the results they want.</p>
    </div>

  </div>
</div>
  </body> {%endblock body%}

</html>
